<div class="example-container">
  <!-- Toolbar -->
  <mat-toolbar color="primary">
      <img class="home-logo" width="40" alt="Angular Logo" src="/assets/OneDxC-White.png" />
      <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Home" class="menu-icon" [routerLink]="['/']">
          <mat-icon>home</mat-icon>
      </button>
      <span class="spacer"></span>
      <span >Welcome {{username}}</span>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sideNav [mode]="'side'" >
          <mat-nav-list>
              <a mat-list-item *ngIf="isLoggedIn" [routerLink]="['/dashboards']">
                  <mat-icon>dashboard</mat-icon>
                  <span>Dashboards</span>
              </a>
              <!-- <a mat-list-item *ngIf="isLoggedIn" [routerLink]="['/settings']">
                  <mat-icon>settings</mat-icon>
                  <span>Settings</span>
              </a>
              <a mat-list-item [routerLink]="['/about', 'info']">
                  <mat-icon>info</mat-icon>
                  <span>About</span>
              </a> -->
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content [@slideInAnimation]="o.isActivated ? o.activatedRoute: ''">
          <router-outlet #o=outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
